@import "test";

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  background-clip: content-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: green;
  font-size: 3rem;
  line-clamp: 3;
  position: sticky;
}
